<template>
  <div class="container">
    <h1>Shipping <span class="bold">Policy</span></h1>

    <h3>Standard</h3>

    <p>$6.00</p>

    <p class="bold">Arrives in 3–5 business days.</p>

    <p>All orders use <a href="https://www.usps.com/" target="_blank">USPS shipping</a>. USPS shipping is available for orders with a PO Box, Rural Route, or APO/FPO/DPO address. Orders shipped to a PO Box or Rural Route will arrive within 7-10 business days. Orders shipped to an APO/FPO/DPO address will arrive in 3-5 weeks, not the standard 3-5 business days.</p>

    <p>Final delivery will be made by USPS. This will not affect the standard delivery time frame.</p>

    <h3>Two Day</h3>

    <p>$13.00</p>

    <p class="bold">Arrives in 2 business days.</p>

    <p>Two Day delivery via USPS is only available for orders with delivery addresses within the continental United States (excluding PO Boxes and Rural Routes).</p>

    <h3>Overnight</h3>

    <p>$22.00</p>

    <p class="bold">Arrives in 1-2 business days.</p>

    <p>Overnight delivery is only available for orders with delivery addresses within the continental United States (excluding PO Boxes and Rural Routes).</p>

    <h3>Other Details</h3>

    <p><router-link to="/">Pure CBD Exchange</router-link> ships Monday through Friday excluding holidays. The shipping cut-off time is 3pm CST. Orders placed after 3pm CST will be processed the next business day. All shipping dates are pending credit card verification for in-stock merchandise. Please allow 1-2 business days for your order to process before it is shipped. Deliveries occur Monday - Friday. Please note that Pure CBD Exchange does not ship to freight forwarders.</p>

    <p>For large wholesale orders, we might need a little more time to prepare your order. Please allow an additional 3 - 5 business days processing time for wholesale orders.</p>

    <h3>International Orders</h3>

    <p>$30.00</p>

    <p>Pure CBD Exchange proudly offers shipping to countries outside the U.S. including:</p>

    <ul>
            <li>Argentina </li>
            <li>Austria </li>
            <li>Belgium </li>
            <li>Belize </li>
            <li>Brazil </li>
            <li>Bulgaria </li>
            <li>Canada </li>
            <li>Chile </li>
            <li>China </li>
            <li>Colombia </li>
            <li>Costa Rica </li>
            <li>Croatia </li>
            <li>Cyprus </li>
            <li>Czech Republic </li>
            <li>Denmark </li>
            <li>Estonia </li>
            <li>Finland </li>
            <li>France </li>
            <li>Georgia </li>
            <li>Germany </li>
            <li>Greece </li>
            <li>Guam </li>
            <li>Guatemala </li>
            <li>Hong Kong </li>
            <li>Hungary </li>
            <li>Iceland </li>
            <li>India </li>
            <li>Ireland </li>
            <li>Italy </li>
            <li>Latvia </li>
            <li>Lithuania </li>
            <li>Luxembourg </li>
            <li>Netherlands</li>
            <li>Antilles </li>
            <li>Northern Ireland </li>
            <li>Norway </li>
            <li>Paraguay </li>
            <li>Peru </li>
            <li>Poland </li>
            <li>Portugal </li>
            <li>Puerto Rico </li>
            <li>Romania </li>
            <li>Russia</li>
            <li>Slovenia </li>
            <li>South Africa </li>
            <li>Sweden </li>
            <li>Switzerland </li>
            <li>U.S. Virgin Islands &nbsp;</li>
            <li>Uruguay </li>
    </ul>

    <p>Shipments are fulfilled by Pure CBD Exchange. </p>

    <h3>How to Place an International Order</h3>

    <p>When you're ready to complete your order, be sure to review all of the items you've placed in your shopping cart. Next, select your desired country under the ‘Shipping To’ option and click ‘Checkout’. Lastly, follow the instructions on the screen to finalize your order.</p>

    <h3>Shipping Information</h3>

    <p>International shipping is offered through USPS. Based on the destination country, there is a flat rate shipping fee for USPS Express shipments. The estimated shipping timeline varies based on the destination country.</p>

    <p>Free, expedited, or other flat-rate shipping and return promotions do not apply to international orders.</p>

    <h3>Duties and Taxes</h3>

    <p>The total amount of local duties and taxes will be estimated and guaranteed at checkout. The customer's credit card will be charged once the item has been shipped from the USA. Taxes and duties depend on destination country and items ordered.</p>

    <h3>Payment Methods</h3>

    <p>Visa, MasterCard, and American Express, are available for international customers. <router-link to="/">Pure CBD Exchange</router-link> Gift Cards are not a payment option for international shipping.</p>

    <p>Your credit card will be billed by Pure CBD Exchange at the time your parcel(s) leave the U.S.</p>

    <h3>Returns and Exchanges</h3>

    <p>We do not offer exchanges for international orders. However, customers can return international orders.</p>

    <p>To return an item within 90 days from the original purchase date, international customers must contact Support at <a href="mailto:support@purecbdexchange.com?subject:International Order Help" target="_blank">support@purecbdexchange.com</a>. A return shipping label will be generated electronically and sent via email.</p>

    <p>Shipping cost for returned orders can vary and is paid by the customer. International customers should not mail their products to the domestic return address shown on the Pure CBD Exchange site. When the product safely returns to its hub, Pure CBD Exchange issues a credit to the customer’s card. The refund includes the price of the product, duties, and taxes. The customer is responsible for return shipping costs and associated fees will affect the refund amount.</p>

    <p>For broken or damaged items, please contact Support at <a href="mailto:support@purecbdexchange.com?subject:Broken or Damaged Items" target="_blank">support@purecbdexchange.com</a>.</p>

    <h3>Contact Customer Care</h3>

    <p>If you have questions, please contact Support at <a href="mailto:support@purecbdexchange.com" target="_blank">support@purecbdexchange.com</a>.</p>

    <h3>Product Restrictions</h3>

    <p>Some Pure CBD Exchange products are not available for international shipping. Although you may be able to add the item to your cart, you will not be able to complete the checkout process with international shipping with these restricted items.</p>

    <h3>My Account</h3>

    <p>Pure CBD Exchange encourages its customers to create an account. Benefits include the ability to view order history and save personal information for faster checkout.</p>

    <p>However, for international orders, Pure CBD Exchange does not have the ability to offer saved credit card, shipping/billing address, or product history (all other My Account features will be available).</p>

    <h3>Feedback</h3>

    <p>We welcome comments and feedback on how well customer expectations are being met. All feedback, including customer complaints will be directed to Support at <a href="mailto:support@purecbdexchange.com?subject:Feedback" target="_blank">support@purecbdexchange.com</a>.</p>

  </div>
</template>

<script>
export default {
  name: 'shipping-policy'
}
</script>
