<template>
    <div class="container">
      <div class="header">
        <h1>{{ currentCategory.name }}</h1>
        <span>({{ currentProducts.length }} {{ computePlural }})</span>
      </div>
      <div class="grid">
        <div v-if="!currentProducts.length">Loading...</div>
          <template v-else>
            <div
              class="product-container"
              v-for="(product, index) in currentProducts" 
              :key="'product.id' + '_' + index">
              <router-link 
                class="text-center product-link" 
                :to="{ name:'product-detail', params: {productSlug: product.slug} }">
                <div class="image" :style="{ backgroundImage: 'url(' + product.images[0].src + ')' }" :alt="product.name"></div>
                <div class="title-app">{{ product.name }}</div>
                <span class="price">${{ product.price }}</span>
              </router-link>
            </div>
          </template>

      </div>
    </div>
</template>

<script>
export default {
  name: 'category-list',
  data () {
    return {
      currentSlug: this.$route.params.catSlug
    }
  },
  watch: {
    '$route' (to, from) {
      this.currentSlug = to.params.catSlug
    }
  },
  computed: {
    currentCategory () {
      let currentCategory = {}
      this.$store.state.categories.forEach(element => {
        if (element.slug === this.currentSlug) {
          currentCategory = element
        }
      })
      return currentCategory
    },
    currentProducts () {
      let currentProducts = []
      this.$store.state.products.forEach(element => {
        if (element.categories[0].id === this.currentCategory.id) {
          currentProducts.push(element)
        }
      })
      return currentProducts
    },
    computePlural () {
      if (this.currentProducts.length > 1 || this.currentProducts.length === 0) {
        return 'Items'
      } else {
        return 'Item'
      }
    }
  }
}
</script>

<style scoped>
.container {
  font-size: 1rem;
  line-height: 1.3rem;
}

.header {
  margin-bottom: 25px;
}

h1 { 
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.grid {
  margin-top: 35px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 3vh;
}

.title-app {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 6px;
}

.price {
  display: block;
  font-size: 1.3rem;
}

.product-link {
  margin: auto;
}

.image {
  width: 300px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  background-position: 50% 50%;
  background-size: cover;
}

@media (max-width: 1020px) {
  .container {
    font-size: 0.95rem;
    line-height: 1.1rem;
  }

  .grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .image {
    width: 43vw;
    height: 25vh;
    margin-bottom: 8px;
  }
}
</style>