<template>
    <div class="container">
      <div class="grid">
        <div
        v-if="currentProduct.images"
        class="image"
        :style="{ backgroundImage: 'url(' + currentProduct.images[0].src + ')' }"></div>
        <div class="info">
          <button @click="getVariations()">Get Those Variations</button>
          <h1 class="bold">{{ currentProduct.name }}</h1>
          <h2 class="price">${{ currentProduct.price }}</h2>
          <select :name="variations" id="">
            <option v-for="variation in variations" :key="variation.id">{{ variation }}</option>
          </select>
            <v-select
              :items="variations"
              :label="variations"
              single-line
            ></v-select>
          <p v-html="currentProduct.description"></p>
          <button class="shop-button" ripple>Add to <span class="bold">Cart</span></button>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'product-detail',
  data () {
    return {
      currentProductSlug: this.$route.params.productSlug,
      variations: []
    }
  },
  computed: {
    currentProduct () {
      let currentProduct = {}
      this.$store.state.products.forEach(element => {
        if (element.slug === this.currentProductSlug) {
          currentProduct = element
        }
      })
      return currentProduct
    },
    currentProductVariations () {
      let variations = []
      this.$http
        .get(`wc/v2/products/${this.currentProduct.id}/variations`)
        .then(response => {
          response.body.forEach(element => {
            // console.log(element.attributes)
            variations.push(element.attributes)
          })
        })
      return variations
    }
  },
  methods: {
    getVariations () {
      this.$http
        .get(`wc/v2/products/${this.currentProduct.id}/variations`)
        .then(response => {
          response.body.forEach(element => {
            this.variations.push(element.attributes[0].option)
            console.log(element.attributes)
          })
        })
    }
  }
}
</script>

<style>
h1 {
  margin-top: 20px;
  margin-bottom: 5px;
}

h2 {
  padding-top: 0;
}

.list {
  list-style: circle inside;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
  grid-template-areas:
    "image details"
}

.image {
  grid-area: image;
  background-position: 50% 50%;
  background-size: cover;
  height: 75vh;
  margin: 25px 25px 45px 25px;
}

.price {
  margin-bottom: 35px;
}

.info {
  grid-area: details;
}

.shop-button {
    font-size: 1.3rem;
    color: var(--app-primary-color);
    margin-top: 20px;
    padding: 10px 54px;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    border: 2px solid var(--app-secondary-color);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
    display: inline-block;
    background-color: white;
    cursor: pointer;
}

.shop-button:hover {
    background-color: #f9f9f9;
}

.input-group__input {
  border-top: 1px solid #004a00;
  border-bottom: 1px solid #004a00;
}

.selector {
  margin-bottom: 10px;
}

.extra-space {
  margin-bottom: 15px;
}

@media (max-width: 1020px) {
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image {
    width: 100%;
    height: 35vh;
  }

  .shop-button {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 9vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    background-color: var(--app-primary-color);
    color: white;
    box-shadow: 0 0 6px 0 #333;
    border: none;
    z-index: 10;
  }
}
</style>
