  <template>
  <div class="container">
    <h1>Epilepsy <span class="bold">Outreach</span></h1>

        <p>
            If you or someone you know has a child struggling with epilepsy, Pure CBD Exchange is willing to make donations or discounts in order to work together to move that child towards a healthier and happier life.
         </p>

         <p> 
            Other potentially debilitating conditions may qualify. Please contact us at <a href="mailto:support@purecbdexchange.com?subject=Epilepsy Outreach">support@purecbdexchange.com</a> to learn more.
         </p>
  </div>
  </template>

  <script>
  export default {
    name: 'epilepsy-outreach'
  }
  </script>