<template>
<div class="container">
    <h1>Shop <span class="bold">CBD</span></h1>

    <div class="grid">
        <div 
        class="center shadow background center-grid" 
        v-for="(category, index) in categories" 
        :key="category.id" 
        :style="{'grid-area': 'grid' + index, 'background-image': 'linear-gradient(180deg, hsla(0, 0%, 100%, .35), hsla(0, 0%, 100%, .95)), url(' + category.image.src + ')' }"
        :class="'grid-area' + index">
            <div class="center">
                <h2 class="bold">{{ category.name }}</h2>
                <p class="description-box center"
                v-html="category.description"></p>
            <router-link :to="'/category/'+ category.slug">
                <button class="shop-button">Shop <span class="bold">Now</span></button>
            </router-link>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'shop-cbd',
  computed: {
    ...mapState([
      'categories'
    ])
  }
}
</script>

<style scoped>
a {
  text-decoration: none;
}

.grid {
    display: grid;
    margin-bottom: 4vh;
    margin-top: 4vh;
    grid-template-rows: 60vh 70vh 40vh;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4vh;
    grid-template-areas: 
        "grid0 grid0"
        "grid1 grid2"
        "grid3 grid3";
}

.center-grid {
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
}

.center {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.background {
  width: 91%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.shadow {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
}

.description-box {
  margin-top: 10px;
  max-width: 625px;
  padding-left: 10px;
  padding-right: 10px;
}

.shop-button {
    font-size: 1.3rem;
    color: var(--app-primary-color);
    margin-top: 20px;
    padding: 10px 54px;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    border: 2px solid var(--app-secondary-color);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .65);
    display: inline-block;
    background-color: white;
    cursor: pointer;
}

.shop-button:hover {
    background-color: #f9f9f9;
}

@media (max-width: 812px) {
    .grid {
        margin-bottom: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .background {
        width: 95%;
    }

    .center-grid {
        margin-bottom: 2vh;
        margin-top: 2vh;
        height: 440px;
    }

    .grid-area1 {
        width: 88%;
    }

    .grid-area2 {
        width: 88%;
    }
}

</style>


