  <template>
  
  <div class="container">
    <h1>What Is <span class="bold">CBD</span>?</h1>
    <p class="bold">CBD is one of over 100 cannabinoids found in Cannabis or Hemp.</p>

    <p>Cannabinoids play different roles in the medicinal or recreational experience of the cannabis or hemp plant. Some cannabinoids found in cannabis plants include THC (<a href="https://en.wikipedia.org/wiki/Tetrahydrocannabinol">Tetrahydrocannabinol</a>), THCA (<a href="https://en.wikipedia.org/wiki/Tetrahydrocannabinolic_acid">Tetrahydrocannabinolic acid</a>), CBN (<a href="https://en.wikipedia.org/wiki/Cannabinol">Cannabinol</a>), CBG (<a href="https://en.wikipedia.org/wiki/Cannabigerol">Cannabigerol</a>), CBL (<a href="https://en.wikipedia.org/wiki/Cannabicyclol">Cannabicyclol</a>), and CBD (<a href="https://en.wikipedia.org/wiki/Cannabidiol">Cannabidiol</a>).</p>

    <blockquote>CBD is a non-psychoactive compound with a number of medical applications, many of which are currently being applied and researched thoroughly.</blockquote>

    <p>The FDA is still researching CBD and is <a href="https://www.regulations.gov/document?D=FDA-2017-N-4515-0001">currently collecting claims</a> from users about the potential benefits of CBD. Among other benefits, CBD has been said to have a profound effect on individuals suffering from epilepsy. CBD users have also noted a number of other conditions that may be alleviated from CBD, including inflammation, nausea, insomnia, anxiety and other mental disorders, and many more. Many of these claims lack sufficient research, due to the prohibition of further research, but it seems like many of these prohibitions are beginning to change.</p>

    <p><a href="/">Pure CBD Exchange</a> believes, and we have seen in our own lives, that CBD can be an effective wellness product for users, ranging from heavy daily use for medical conditions to occasional use for pain, relaxation, or anxiety relief. We encourage you to try different CBD products for yourself and share your thoughts on how CBD has affected your life with your friends and family, as well as the FDA.</p>

    <p>While CBD is an incredibly potent product by itself, it can also produce a number of different effects when used with other cannabinoids in a regulated, law-abiding environment. When used with other cannabinoids, CBD can produce what’s known as an “<a href="https://en.wikipedia.org/wiki/Entourage_effect">entourage effect</a>,” strengthening the potency of all cannabinoids used. When used in combination with THC-containing cannabis products, CBD is known to reduce symptoms of paranoia and increase euphoria.</p>

    <h1>Why <span class="bold">Pure CBD Exchange</span>?</h1>

    <blockquote>Pure CBD Exchange is a CBD revolution.</blockquote>

    <p>We have seen the promise of this product, and we are passionate that it needs to be made available to more users at more reasonable prices and higher standard of quality. Our company is based out of Colorado where we have a 320 acre farm and a 10,000 sq. ft. processing facility. We currently ship products all over the nation. We use CO<sup>2</sup> oil and do not sell any products with residual solvents, unless ethanol extraction is specifically requested. We are licensed with Department of Agriculture and have all necessary COA's and testing documents necessary to meet compliance, as well as high safety and quality standards.</p>

    <p>Through our partnerships with CBD producers in the United States only, we are able to bring a better product to you at lower prices than rest of the market. Our products carry a certificate of analysis in order to verify their purity and legality as industrial hemp-derived products.</p>

    <p>The products we carry include:</p>

    <ul>
      <li>Full Spectrum CBD Tinctures - 500mg - MCT Vanilla, MCT Mint, Hempseed Oil, or Chicken Flavored (For Pets)</li>
      <li>Full Spectrum CBD Tinctures - 1000mg - MCT Natural or Hempseed Oil</li>
      <li>CBD Vape Oil - 500mg</li>
      <li>Full Spectrum CBD Lotion and Topical Pain Cream - 500mg or 1000mg</li>
      <li>Pure CBD Isolate Extract - 1g, 3.5g, 7g, 28g </li>
      <li>Full Spectrum CBD Wax Concentrate - 1g, 3.5g, 10g</li>
      <li>CBD IsoTerp - 1g, 3.5g, 7g - Tangerine Express, OG Grapefruit, or Lemon Dreams</li>
      <li>Full Spectrum CBD Gel Capsules - 30ct, 60ct, or 90ct</li>
      <li>Full Spectrum CBD Gummies - 30ct, 60ct, or 90ct</li>
      <li>Wholesale Bulk Hemp Plant Material</li>
      <li>Fully Labeled Wholesale CBD Products with Special CBD Wholesale Pricing</li>
      <li>White-Labeled Wholesale CBD Products with Special CBD Wholesale Pricing</li>
    </ul>

    <p>We also provide support and consultation for our patients, and we actively seek out epileptic children whose lives CBD can improve. We are genuinely devoted to providing a trustworthy and affordable source for medicine that can greatly improve the quality of life for those individuals who use it.</p>

    <p>In addition to sales on this website, we also sell in large quantities to companies and individuals interested in wholesale quantities and pricing. If you’re interested in wholesale products, please email us at <a href="mailto:dillon@purecbdexchange.com?subject=Wholesale Inquiry">dillon@purecbdexchange.com</a>.</p>
  </div>

  </template>

  <script>
  export default {
    name: 'what-is-cbd',
    data () {
      return {

      }
    }
  }
  </script>

  <style scoped>
      :host {
        display: block;
        padding: 5px 15px 35px 15px;
        color: var(--app-secondary-color);
      }

      blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C" "\201D" "\2018" "\2019";
        font-size: 1.3em;
        line-height: 1.3em;
      }

      blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 3.5em;
        line-height: 0.1em;
        margin-right: 0.15em;
        vertical-align: -0.4em;
      }

      blockquote p {
        display: inline;
      }

      blockquote:after {
        content: close-quote;
        opacity: 0;
      }
    </style>