<template>
  <div id="app">
    <header>
      <span>Pure CBD Exchange</span>
    </header>
    <main>
      <div>
      <ul>
        <li><router-link to='/'>Home</router-link></li>
        <li><router-link to='/what-is-cbd'>What Is CBD?</router-link></li>
        <li><router-link to='/shop-cbd'>Shop CBD</router-link></li>
        <li v-if="!categories.length">Loading...</li>
          <template v-else>
            <!-- :to="'/category/'+ category.slug" -->
        <li 
          v-for="(category, index) in categories" 
          :key="'category.id' + '_' + index"><router-link 
          :to="{name:'category-list', params: {catSlug: category.slug}}"
          :index="index" 
          >{{ category.name }}</router-link></li>
          </template>
        <li><router-link to='/my-account'>My Account</router-link></li>
        <li><router-link to='/cart'>Cart</router-link></li>
        <li><router-link to='/help'>Help and Feedback</router-link></li>
      </ul>
      </div>
        <router-view></router-view>
    </main>
    <pure-footer></pure-footer>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'app',
  computed: {
    ...mapState([
      'categories',
      'products'
    ])
  },
  created () {
    this.$store.dispatch('computeCategories')
    this.$store.dispatch('computeProducts')
  }
}
</script>

<style>
@font-face {
  font-family: 'Mukta Malar', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Mukta+Malar:400,600,800);
  font-display: block;
}

body {
  margin: 0;
  padding: 0
}

#app {
  display: block;
  position: relative;
  font-family: 'Mukta Malar', sans-serif;
  --app-primary-color: #004a00;
  --app-secondary-color: #2a2a2a;
  --app-accent-color: #eee;
  --app-third-color: #25ac6a;
  --paper-button-ink-color: var(--app-accent-color);
  --paper-icon-button-ink-color: var(--app-accent-color);
  --paper-spinner-color: var(--app-accent-color);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: var(--app-secondary-color);
      }

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 1040px;
  position: relative;
  font-size: 1.2rem !important;
  line-height: 1.60rem !important;
  padding-top: 1vh; 
  padding-bottom: 4vh; 
  padding-right: 15px; 
  padding-left: 15px;
      }

h1 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 115%;
  margin-top: 45px;
      }

 h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  padding-top: 15px;
  margin: 0;
      }      

h3 {
  line-height: 115%;
      }

a {
  color: var(--app-primary-color);
      }

.text-center {
   text-align: center;
}

.bold {
  font-weight: 700;
      }

@media (max-width: 1040px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
</style>
